<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DePaCo.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="creationalPatterns">
                <span class="oi oi-brush" aria-hidden="true"></span> Creational Patterns
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="structuralPatterns">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Structural Patterns
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="behavioralPatterns">
                <span class="oi oi-media-play" aria-hidden="true"></span> Behavioral Patterns
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="architecturalPatterns">
                <span class="oi oi-layers" aria-hidden="true"></span> Architectural Patterns
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="concurrencyPatterns">
                <span class="oi oi-fork" aria-hidden="true"></span> Concurrency Patterns
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
