@page "/"

<h1>Design Pattern Collection</h1>

<p>
    This app is meant to give some insights in programming design patterns.
    The design patterns are split up in categories.
    Each pattern is implemented using C# and the pages do have an example, as well UML 
</p>
